
<!-- content push wrapper -->
<div class="st-pusher" id="content">


  <div class="st-content">

    <!-- extra div for emulating position:fixed of the menu -->
    <div class="st-content-inner">

      <div class="container-fluid">

        <div class="media media-grid media-clearfix-xs">
          <div class="media-left">

            <div class="width-250 width-auto-xs">
              <div class="panel panel-default widget-user-1 text-center">
                <div class="avatar">
                  <%= image_tag gravatar_url(@user.email,75), class: 'img-circle' %>
                  <h3><%= @user.first_name + " " + @user.last_name%></h3>
                  <% if follow = current_user.follows.find_by(follows: @user.id) %>
                      <%= link_to 'Unfollow', follow_path(follow_rec(current_user, @user)), method: :delete,class: "btn btn-primary" %>

                  <% else %>
                      <%= link_to 'Follow', follows_path({user_id: @user.id}), method: 'post',class: "btn btn-primary"  %>
                  <% end %>
                </div>

                <div class="panel-body">
                  <div class="expandable expandable-indicator-white expandable-trigger">
                    <div class="expandable-content">
                      <p>Hi! I'm <%= @user.first_name + " " + @user.last_name%><p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Contact -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  Contact
                </div>
                <ul class="icon-list icon-list-block">
                  <li><i class="fa fa-envelope fa-fw"></i> <%= @user.email %></li>

                </ul>
              </div>
            </div>
          </div>
        </div>




      </div>

    </div>
    <!-- /st-content-inner -->

  </div>
  <!-- /st-content -->
</div>
<!-- /st-pusher -->


<div id="content">
  <div class="container-fluid">
    <div class="timeline row" data-toggle="isotope">
      <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href="">Jonathan</a>

                  <span>on 15th January, 2014</span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>
            <div class="view-all-comments">
              <a href="#">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span>10 comments</span>

            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>Hi Mary, Nice Party</span>
                  <div class="comment-date">21st September</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Mary</a>
                  <span>Thanks Bill</span>
                  <div class="comment-date">2 days</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>What time did it finish?</span>
                  <div class="comment-date">14 min</div>
                </div>
              </li>
              <li class="comment-form">
                <div class="input-group">

                          <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>

                  <input type="text" class="form-control" />

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href="">Jonathan</a>

                  <span>on 15th January, 2014</span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>
            <div class="view-all-comments">
              <a href="#">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span>10 comments</span>

            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>Hi Mary, Nice Party</span>
                  <div class="comment-date">21st September</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Mary</a>
                  <span>Thanks Bill</span>
                  <div class="comment-date">2 days</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>What time did it finish?</span>
                  <div class="comment-date">14 min</div>
                </div>
              </li>
              <li class="comment-form">
                <div class="input-group">

                          <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>

                  <input type="text" class="form-control" />

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href="">Jonathan</a>

                  <span>on 15th January, 2014</span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>
            <div class="view-all-comments">
              <a href="#">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span>10 comments</span>

            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>Hi Mary, Nice Party</span>
                  <div class="comment-date">21st September</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Mary</a>
                  <span>Thanks Bill</span>
                  <div class="comment-date">2 days</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>What time did it finish?</span>
                  <div class="comment-date">14 min</div>
                </div>
              </li>
              <li class="comment-form">
                <div class="input-group">

                          <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>

                  <input type="text" class="form-control" />

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href="">Jonathan</a>

                  <span>on 15th January, 2014</span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>
            <div class="view-all-comments">
              <a href="#">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span>10 comments</span>

            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>Hi Mary, Nice Party</span>
                  <div class="comment-date">21st September</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Mary</a>
                  <span>Thanks Bill</span>
                  <div class="comment-date">2 days</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>What time did it finish?</span>
                  <div class="comment-date">14 min</div>
                </div>
              </li>
              <li class="comment-form">
                <div class="input-group">

                          <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>

                  <input type="text" class="form-control" />

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href="">Jonathan</a>

                  <span>on 15th January, 2014</span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>
            <div class="view-all-comments">
              <a href="#">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span>10 comments</span>

            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>Hi Mary, Nice Party</span>
                  <div class="comment-date">21st September</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Mary</a>
                  <span>Thanks Bill</span>
                  <div class="comment-date">2 days</div>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="http://placehold.it/50x50" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" data-show-hover="li">
                    <a href="#" data-toggle="dropdown" class="toggle-button">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                  <a href="" class="comment-author pull-left">Bill D.</a>
                  <span>What time did it finish?</span>
                  <div class="comment-date">14 min</div>
                </div>
              </li>
              <li class="comment-form">
                <div class="input-group">

                          <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>

                  <input type="text" class="form-control" />

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
