<!-- content push wrapper -->
<div class="st-pusher" id="content">


  <div class="st-content">

    <!-- extra div for emulating position:fixed of the menu -->
    <div class="st-content-inner">

      <div class="container-fluid">

        <div class="media media-grid media-clearfix-xs">
          <div class="media-left">

            <div class="width-250 width-auto-xs">
              <div class="panel panel-default widget-user-1 text-center">
                <div class="avatar">
                  <%= image_tag gravatar_url(@user.email, 75), class: 'img-circle' %>
                  <h3><%= @user.first_name + " " + @user.last_name %></h3>
                  <% if follow = current_user.follows.find_by(follows: @user.id) %>
                      <%= link_to 'Unfollow', follow_path(follow_rec(current_user, @user)), method: :delete, class: "btn btn-primary" %>
                  <% else %>
                      <%= link_to 'Follow', follows_path({user_id: @user.id}), method: 'post', class: "btn btn-primary" %>
                  <% end %>
                </div>

                <div class="panel-body">
                  <div class="expandable expandable-indicator-white expandable-trigger">
                    <div class="expandable-content">
                      <p>Hi! I'm <%= @user.first_name + " " + @user.last_name %><p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Contact -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  Contact
                </div>
                <ul class="icon-list icon-list-block">
                  <li><i class="fa fa-envelope fa-fw"></i> <%= @user.email %></li>

                </ul>
              </div>
            </div>

            <div class="col-md-6" style="width:170%;">
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-gray">
                  Following
                </div>
                <div class="panel-body">
                  <ul>
                    <% @who_follows.each do |follow| %>
                      <li><%= link_to follow.first_name + " " + follow.last_name,show_user_path(follow.id) %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /st-content-inner -->

  </div>
  <!-- /st-content -->
</div>
<!-- /st-pusher -->


<div id="content">
  <div class="container-fluid">
    <div class="timeline row" data-toggle="isotope">
      <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
      <% end %>
    </div>
  </div>
</div>
