<section id="feed">
  <div class="container">
    <div class="col-md-12">
      <!--:class => 'post_form margin-bottom-0'-->
      <%= form_for @post, url: {action: "create"} do |f| %>
          <div class="form-group">
            <%= f.text_area :post, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'form-control' %>
          </div>
      <% end %>
      <div class="col-md-12">
        <ul class="timeline-list">

          <% @user_post.each do |post| %>
              <li class="media media-clearfix-xs" id="october">
                <div class="media-left">
                  <div class="user-wrapper">
                    <img src="http://placehold.it/80x80" alt="people" class="img-circle" width="80">
                    <div><a href="#"><%=     @users.find(post.user_id).fname + " "+
                                             @users.find(post.user_id).lname[0]+"."%></a></div>
                    <div class="date"><%= post.created_at.strftime("%d") + " "+
                                              post.created_at.strftime("%b")%></div>
                  </div>
                </div>
                <div class="media-body">
                  <div class="media-body-wrapper">
                    <div class="panel panel-default">

                      <div class="panel-body">
                        <p><%= post.post %> </p>
                      </div>
                      <%= commontator_thread(post) %>
                    </div>
                  </div>
                </div>
              </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</section>