<div class="col-xs-12 col-md-6 col-lg-4 item" >
        <div class="timeline-block">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="media-left">
                  <a href="">
                    <!--avatar-->
                    <%= image_tag gravatar_url( post.user.email, 50), class: 'media-object' %>
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                  <a href=""><%= post.user.email if post.user %></a>

                  <span><%= (post.created_at).to_formatted_s(:short) %></span>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p><%= post.post_text %></p>
              <% if like = post.likes.find_by(user_id: current_user.id) %>
                  <%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true"></i> Unlike'.html_safe, like, method: 'delete',class: ""  %>
              <% else %>
                  <%= link_to '<i class="fa fa-thumbs-up" aria-hidden="true"></i> Like'.html_safe, likes_path({post_id: post.id}), method: 'post',class: ""  %>
              <% end %>
            </div>
            <div class="view-all-comments">
              <%= commontator_thread(post) %>
            </div>
          </div>
        </div>
      </div>
</div>